{
  "extends": [
    "airbnb",
    "plugin:jsx-a11y/strict",
    "plugin:prettier/recommended"
  ],
  "env": {
    "jest": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "globals": {
    "fetch": true,
    "window": true,
    "document": true,
    "cy": true
  },
  "rules": {
    "react/jsx-filename-extension": 0
  }
}